* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: black;
}

canvas {
  position: fixed;
  z-index: 0;
}

.canvas-back {
  position: fixed;
  z-index: 1;
}

.App {
  text-align: center;
}

